.metadata
FirstSTM32Project/Drivers
FirstSTM32Project/.cproject
FirstSTM32Project/.project
FirstSTM32Project/.mxproject
FirstSTM32Project/.settings
FirstSTM32Project/Core/Inc
FirstSTM32Project/Core/Startup